.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;
}

.header img {
    left: 7.78%;
    right: 82.5%;
    top: 23.75%;
    bottom: 23.17%;
}

.header_link {
    align-items: center;
    justify-content: center;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 32px;
}

.header a:hover {
    color: orange;
}